
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card" style="margin-left: 5px; width: 17rem;">
            <img class="card-img-top" src="/images/prod_1.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Quaker Oats</h5>
                <p class="card-text">30% off orders from now till January 31</p>
                <div class="price pull-right">GHS20.00</div>
                <a href="#" class="btn btn-primary" id="btn-prim">Add to Basket</a>
            </div>
        </div>
    </div>
<div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="margin-left: 5px; width: 17rem;">
                <img class="card-img-top" src="/images/prod_2.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Potatoes 1kg</h5>
                    <p class="card-text">Get an extra kilo when you buy 2 kilos today</p>
                    <div class="price pull-right">GHS10.00</div>
                    <a href="#" class="btn btn-primary" id="btn-prim">Add to Basket</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card" style="margin-left: 5px; width: 17rem;">
                <img class="card-img-top" src="/images/prod_3.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Exotic Banana</h5>
                    <p class="card-text">Smoothies special: 10% off when you buy now</p>
                    <div class="price pull-right">GHS12.50</div>
                    <a href="#" class="btn btn-primary" id="btn-prim">Add to Basket</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>




    
